<%- include('partials/header')%>
<!--  -->
<%- include('partials/nav')%>
<form class="m-auto w-25 mt-5" action="/signup" method="post">
    <h1 class="mb-4">Sign-Up Page</h1>
    <input
        class="form-control mb-3"
        type="text"
        placeholder="Enter a name"
        name="username"
    />
    <input
        class="form-control mb-3"
        type="email"
        placeholder="Enter a email"
        name="email"
    />
    <input
        class="form-control mb-3"
        type="password"
        placeholder="Enter a password"
        name="password"
    />
    <button class="btn btn-primary w-50">Sign Up</button>
    <p>Already have an account ? <a href="/signin">signin</a></p>
</form>

<%- include('partials/footer')%>
